<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hunliji.hlj_download">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application>
        <meta-data
            android:name="com.hunliji.hlj_download.core.GlobalConfiguration"
            android:value="ConfigModule" />
    </application>

</manifest>